/* cool link css */

body{
font-family: 'Rajdhani', sans-serif;
}

a{

display: block;
text-decoration: none;

margin-top: 15px;


  padding: 3px;
  background: #1abc9c;
  border-radius: 2px;
  transition: all 0.3s ease-out;

  /* Font styles */

  font-weight: bold;
  color: white;
  width: 100px;
}

li{
list-style-type: none;
}

img{
width: 10%;
margin-left: 175px;
}

ul{
margin-left: 125px;
}

.main_cont{
width: 1550px
}

.cont{


width: 500px;
margin: 0 auto;
}

.blue{
color: #2980b9;
}

.home{
background-color: #95a5a6;
text-align: center;
margin-top: 150px;
}




